@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  scroll-behavior: smooth;
  box-sizing: border-box;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.text-shadow {
  text-shadow: 5px -7px #00000036;
  -webkit-text-stroke-color: #000000;
  -webkit-text-stroke-width: 1px;
}

.clip-path {
  clip-path: polygon(0 0, 100% 0, 100% 85%, 80% 100%, 0 90%);
}
 

.s-clip {
  clip-path: polygon(0 20%, 100% 0%, 100% 80%, 0% 100%);
}
